<!DOCTYPE html>
<html lang="en">

<head>
	<title>Home</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="../homepage/images/icons/favicon.png" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../homepage/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../homepage/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../homepage/fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../homepage/fonts/linearicons-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../homepage/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../homepage/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../homepage/vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../homepage/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../homepage/vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../homepage/vendor/slick/slick.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../homepage/vendor/MagnificPopup/magnific-popup.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../homepage/vendor/perfect-scrollbar/perfect-scrollbar.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../homepage/css/util.css">
	<link rel="stylesheet" type="text/css" href="../homepage/css/main.css">


	<link type="text/css" rel="stylesheet" href="../stylesheets/magiczoomplus.css"/>
    <script type="text/javascript" src="../stylesheets/magiczoomplus.js"></script>
	<!--===============================================================================================-->
</head>
<header>
	<!-- Header desktop -->
	<div class="container-menu-desktop">
		<!-- Topbar -->
		<div class="top-bar">
			<div class="content-topbar flex-sb-m h-full container">
			</div>
		</div>

		<div class="wrap-menu-desktop">
			<nav class="limiter-menu-desktop container">

				<!-- Logo desktop -->
				<a href="#" class="logo">
					<img src="../homepage/images/icons/bikevio.png" alt="IMG-LOGO">
				</a>

				<!-- Menu desktop -->
				<div class="menu-desktop">
					<ul class="main-menu">
						<li class="active-menu">
							<a href="/">Home</a>
						</li>

						<li>
							<a href="/product">Bikes</a>
						</li>
						<li>
							<a href="/profilePage">Profile</a>
						</li>


					</ul>
				</div>

				<!-- Icon header -->
				<div class="wrap-icon-header flex-w flex-r-m">
					<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11  js-show-cart">
						<a href="/cart"> <i class="zmdi zmdi-shopping-cart"></i></a>
					</div>
					<div class="ml-4 mb-2">
						<% if(loggedIn){%>
							<a href="/account">
								<i class="bi bi-person"></i> 
							</a>
							<form action="/logout" method="post"> <button class="btn btn-primary" type="submit">LOG
									OUT</button></form>
							<%} else{%>
								<a href="/login" class="btn btn-primary">Login</a>
								<%} %>
					</div>
				</div>
			</nav>
		</div>
	</div>

	<!-- Header Mobile -->
	<div class="wrap-header-mobile">
		<!-- Logo moblie -->
		<div class="logo-mobile">
			<a href="/"><img src="../homepage/images/icons/bikevio.png" alt="IMG-LOGO"></a>
		</div>

		<!-- Icon header -->
		<div class="wrap-icon-header flex-w flex-r-m m-r-15">
			<div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 js-show-modal-search">
				<i class="zmdi zmdi-search"></i>
			</div>

			<div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10  js-show-cart"
				><a href="/cart">
				<i class="zmdi zmdi-shopping-cart"></i></a>
			</div>
		</div>

		<!-- Button show menu -->
		<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
			<span class="hamburger-box">
				<span class="hamburger-inner"></span>
			</span>
		</div>
	</div>


	<!-- Menu Mobile -->
	<div class="menu-mobile">
		

		<ul class="main-menu-m">
			<li>
				<a href="/">Home</a>
			</li>

			<li>
				<a href="/product">Bikes</a>
			</li>

			<li>
				<a href="/profilePage">Profile</a>
			</li>

			<li>
				<a href="about.html">About</a>
			</li>

			<li>
				<a href="contact.html">Contact</a>
			</li>
		</ul>
	</div>

	
</header>


<div class="container">
	<div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent mt-5">
		

		<div class="row">

			<div class="col-md-6 col-lg-7 p-b-30">
				<div class="p-l-25 p-r-30 p-lr-0-lg">
					<div class="wrap-slick3 flex-sb flex-w">
						<div class="wrap-slick3-dots"></div>
						<div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

						<div class="slick3 gallery-lb">
							<div class="item-slick3" data-thumb="/assets/images/thumbnails/<%=products.imageUrl[0]%>">
								<div class="wrap-pic-w pos-relative ">
										<a href="/assets/images/thumbnails/<%=products.imageUrl[0]%>" class="MagicZoom"  data-options="zoomWidth:400px; zoomHeight:400px"><img src="/assets/images/thumbnails/<%=products.imageUrl[0]%>" /></a>
								</div>
							</div>

							<div class="item-slick3" data-thumb="/assets/images/thumbnails/<%=products.imageUrl[1]%>">
								<div class="wrap-pic-w pos-relative">
									<a href="/assets/images/thumbnails/<%=products.imageUrl[1]%>" class="MagicZoom"  data-options="zoomWidth:400px; zoomHeight:400px"><img src="/assets/images/thumbnails/<%=products.imageUrl[1]%>" /></a>
								</div>
							</div>

							<div class="item-slick3" data-thumb="/assets/images/thumbnails/<%=products.imageUrl[2]%>">
								<div class="wrap-pic-w pos-relative">
									<a href="/assets/images/thumbnails/<%=products.imageUrl[2]%>"  class="MagicZoom"  data-options="zoomWidth:400px; zoomHeight:400px"><img src="/assets/images/thumbnails/<%=products.imageUrl[2]%>" /></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-5 p-b-30">
				<div class="p-r-50 p-t-5 p-lr-0-lg">
					<h4 class="mtext-105 cl2 js-name-detail p-b-14">
						Model: <%=products.bikeName%>
							<input type="text" hidden id="prod-id" value=" <%=products._id%>">
					</h4>
 
					<span class="mtext-106 cl2">
						Price: Rs.<%=products.price%>
					</span>
					<br>
					<br>
					<span class="mtext-106 cl2">
						Booking Amount: Rs.10000
					</span>

					<!-- <p class="stext-102 cl3 p-t-23">
								Brand:
						    </p> -->

					<p class="stext-102 cl3 p-t-23">
						Details: <%=products.description%>
					</p>

					<div class="d-flex">
					<button
						class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail mt-3">
						Add to cart
					</button>
					<button
					class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 mt-3 ml-3">
					<a onclick="addToWishlist('<%=products._id%>','<%=products.bikeName%>','<%=user%>')">
					Add to wishlist </a>
					</button>
					</div>


				</div>
			</div>
		</div>
	</div>
</div>

<!--===============================================================================================-->
<script src="../homepage/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="../homepage/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="../homepage/vendor/bootstrap/js/popper.js"></script>
<script src="../homepage/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="../homepage/vendor/select2/select2.min.js"></script>
<script>
	$(".js-select2").each(function () {
		$(this).select2({
			minimumResultsForSearch: 20,
			dropdownParent: $(this).next('.dropDownSelect2')
		});
	})
</script>
<!--===============================================================================================-->
<script src="../homepage/vendor/daterangepicker/moment.min.js"></script>
<script src="../homepage/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="../homepage/vendor/slick/slick.min.js"></script>
<script src="../homepage/js/slick-custom.js"></script>
<!--===============================================================================================-->
<script src="../homepage/vendor/parallax100/parallax100.js"></script>
<script>
	$('.parallax100').parallax100();
</script>
<!--===============================================================================================-->
<script src="../homepage/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
<script>
	$('.gallery-lb').each(function () { // the containers for all your galleries
		$(this).magnificPopup({
			delegate: 'a', // the selector for gallery item
			type: 'image',
			gallery: {
				enabled: true
			},
			mainClass: 'mfp-fade'
		});
	});
</script>
<!--===============================================================================================-->
<script src="../homepage/vendor/isotope/isotope.pkgd.min.js"></script>
<!--===============================================================================================-->
<script src="../homepage/vendor/sweetalert/sweetalert.min.js"></script>
<script>
	/*---------------------------------------------*/

	$('.js-addcart-detail').each(function () {
		var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
		$(this).on('click', function () {
			let productId = document.getElementById('prod-id').value;
			$.ajax({
				url: "/add/cart",
				method: "post",
				data: { productId : productId },
				success: (response) => {
					if (response.status) {
						swal("", "Product is added to cart !", "success");
					} else if(response.exist) {
						swal("Error", "Already in cart", "error");
					}else{
						location.href="/login"

					}
				},
			});
		});
	});
	</script>
	<script>

async function addToWishlist(prodId, prodName, user) {
	console.log('pro',prodId);
  if (user) {

	$.ajax({
				url: `/addtoWishlist/${prodId}`,
				method: "post",
				data: {
          			name: prodName,
                },
				success: (response) => {
					if (response.status) {
						swal("", "Product is added to wishlist !", "success");
						console.log('===========');
					} else if(response.exist) {
						swal("Error", "Already in wishlist", "error");
						console.log('+++++++++++++');
					}else{
						location.href="/login"
					}
				},
			});




  
   
  } else {
    window.location = "/login";


  
  }
}

</script>
<!--===============================================================================================-->
<script src="../homepage/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>

<!--===============================================================================================-->
<script src="../homepage/js/main.js"></script>

</body>

</html>
