<!DOCTYPE html>
<html lang="en">

<head>
	<title>Home</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="../homepage/images/icons/favicon.png" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../homepage/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../homepage/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../homepage/fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../homepage/fonts/linearicons-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../homepage/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../homepage/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../homepage/vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../homepage/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../homepage/vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../homepage/vendor/slick/slick.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../homepage/vendor/MagnificPopup/magnific-popup.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../homepage/vendor/perfect-scrollbar/perfect-scrollbar.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../homepage/css/util.css">
	<link rel="stylesheet" type="text/css" href="../homepage/css/main.css">


	<link type="text/css" rel="stylesheet" href="../stylesheets/magiczoomplus.css"/>
    <script type="text/javascript" src="../stylesheets/magiczoomplus.js"></script>
	<!--===============================================================================================-->
</head>

<div class="container">
	<div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
		<button class="how-pos3 hov3 trans-04 js-hide-modal1">
			<img src="images/icons/icon-close.png" alt="CLOSE">
		</button>

		<div class="row">

			<div class="col-md-6 col-lg-7 p-b-30">
				<div class="p-l-25 p-r-30 p-lr-0-lg">
					<div class="wrap-slick3 flex-sb flex-w">
						<div class="wrap-slick3-dots"></div>
						<div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

						<div class="slick3 gallery-lb">
							<div class="item-slick3" data-thumb="/assets/images/thumbnails/<%=products.imageUrl[0]%>">
								<div class="wrap-pic-w pos-relative ">
										<a href="/assets/images/thumbnails/<%=products.imageUrl[0]%>" class="MagicZoom"  data-options="zoomWidth:400px; zoomHeight:400px"><img src="/assets/images/thumbnails/<%=products.imageUrl[0]%>" /></a>
								</div>
							</div>

							<div class="item-slick3" data-thumb="/assets/images/thumbnails/<%=products.imageUrl[1]%>">
								<div class="wrap-pic-w pos-relative">
									<a href="/assets/images/thumbnails/<%=products.imageUrl[1]%>" class="MagicZoom"  data-options="zoomWidth:400px; zoomHeight:400px"><img src="/assets/images/thumbnails/<%=products.imageUrl[1]%>" /></a>
								</div>
							</div>

							<div class="item-slick3" data-thumb="/assets/images/thumbnails/<%=products.imageUrl[2]%>">
								<div class="wrap-pic-w pos-relative">
									<a href="/assets/images/thumbnails/<%=products.imageUrl[2]%>"  class="MagicZoom"  data-options="zoomWidth:400px; zoomHeight:400px"><img src="/assets/images/thumbnails/<%=products.imageUrl[2]%>" /></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-5 p-b-30">
				<div class="p-r-50 p-t-5 p-lr-0-lg">
					<h4 class="mtext-105 cl2 js-name-detail p-b-14">
						Model: <%=products.bikeName%>
							<input type="text" hidden id="prod-id" value=" <%=products._id%>">
					</h4>
 
					<span class="mtext-106 cl2">
						Price: Rs.<%=products.price%>
					</span>

					<!-- <p class="stext-102 cl3 p-t-23">
								Brand:
						    </p> -->

					<p class="stext-102 cl3 p-t-23">
						Details: <%=products.description%>
					</p>

					<!--  -->
					<!-- <div class="p-t-33">
								<div class="flex-w flex-r-m p-b-10">
									<div class="size-203 flex-c-m respon6">
										Size
									</div>

									<div class="size-204 respon6-next">
										<div class="rs1-select2 bor8 bg0">
											<select class="js-select2" name="time">
												<option>Choose an option</option>
												<option>Size S</option>
												<option>Size M</option>
												<option>Size L</option>
												<option>Size XL</option>
											</select>
											<div class="dropDownSelect2"></div>
										</div>
									</div>
								</div>

								<div class="flex-w flex-r-m p-b-10">
									<div class="size-203 flex-c-m respon6">
										Color
									</div>

									<div class="size-204 respon6-next">
										<div class="rs1-select2 bor8 bg0">
											<select class="js-select2" name="time">
												<option>Choose an option</option>
												<option>Red</option>
												<option>Blue</option>
												<option>White</option>
												<option>Grey</option>
											</select>
											<div class="dropDownSelect2"></div>
										</div>
									</div>
								</div>

								<div class="flex-w flex-r-m p-b-10">
									<div class="size-204 flex-w flex-m respon6-next">
										<div class="wrap-num-product flex-w m-r-20 m-tb-10">
											<div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
												<i class="fs-16 zmdi zmdi-minus"></i>
											</div>

											<input class="mtext-104 cl3 txt-center num-product" type="number"
												name="num-product" value="1">

											<div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
												<i class="fs-16 zmdi zmdi-plus"></i>
											</div>
										</div>

										<button
											class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">
											Add to cart
										</button>
									</div>
								</div>
							</div> -->
					<button
						class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail mt-3">
						Add to cart
					</button>



				</div>
			</div>
		</div>
	</div>
</div>

<!--===============================================================================================-->
<script src="../homepage/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="../homepage/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="../homepage/vendor/bootstrap/js/popper.js"></script>
<script src="../homepage/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="../homepage/vendor/select2/select2.min.js"></script>
<script>
	$(".js-select2").each(function () {
		$(this).select2({
			minimumResultsForSearch: 20,
			dropdownParent: $(this).next('.dropDownSelect2')
		});
	})
</script>
<!--===============================================================================================-->
<script src="../homepage/vendor/daterangepicker/moment.min.js"></script>
<script src="../homepage/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="../homepage/vendor/slick/slick.min.js"></script>
<script src="../homepage/js/slick-custom.js"></script>
<!--===============================================================================================-->
<script src="../homepage/vendor/parallax100/parallax100.js"></script>
<script>
	$('.parallax100').parallax100();
</script>
<!--===============================================================================================-->
<script src="../homepage/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
<script>
	$('.gallery-lb').each(function () { // the containers for all your galleries
		$(this).magnificPopup({
			delegate: 'a', // the selector for gallery item
			type: 'image',
			gallery: {
				enabled: true
			},
			mainClass: 'mfp-fade'
		});
	});
</script>
<!--===============================================================================================-->
<script src="../homepage/vendor/isotope/isotope.pkgd.min.js"></script>
<!--===============================================================================================-->
<script src="../homepage/vendor/sweetalert/sweetalert.min.js"></script>
<script>
	$('.js-addwish-b2').on('click', function (e) {
		e.preventDefault();
	});

	$('.js-addwish-b2').each(function () {
		var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
		$(this).on('click', function () {
			swal(nameProduct, "is added to wishlist !", "success");

			$(this).addClass('js-addedwish-b2');
			$(this).off('click');
		});
	});

	$('.js-addwish-detail').each(function () {
		var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

		$(this).on('click', function () {
			swal(nameProduct, "is added to wishlist !", "success");

			$(this).addClass('js-addedwish-detail');
			$(this).off('click');
		});
	});

	/*---------------------------------------------*/

	$('.js-addcart-detail').each(function () {
		var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
		$(this).on('click', function () {
			let productId = document.getElementById('prod-id').value;
			$.ajax({
				url: "/add/cart",
				method: "post",
				data: { productId : productId },
				success: (response) => {
					if (response.status) {
						swal("", "Product is added to cart !", "success");
					} else if(response.exist) {
						swal("Error", "Already in cart", "error");
					}else{
						location.href="/login"

					}
				},
			});
		});
	});

</script>
<!--===============================================================================================-->
<script src="../homepage/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script>
	$('.js-pscroll').each(function () {
		$(this).css('position', 'relative');
		$(this).css('overflow', 'hidden');
		var ps = new PerfectScrollbar(this, {
			wheelSpeed: 1,
			scrollingThreshold: 1000,
			wheelPropagation: false,
		});

		$(window).on('resize', function () {
			ps.update();
		})
	});
</script>
<!--===============================================================================================-->
<script src="../homepage/js/main.js"></script>

</body>

</html>